html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga", "kern";
  overflow: hidden;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

input,
button,
ul {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  outline: none;
}

i {
  line-height: 1;
  vertical-align: middle;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Varela Round", sans-serif;
  color: #2e2e2e;
  font-size: 18px;
  line-height: 1.5;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100%;
}

.todo-app {
  min-width: 380px;
  max-width: 50%;
  min-height: 480px;
  max-height: 100%;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
  padding: 3rem;
}

.todo-title {
  margin-bottom: auto;
  margin-top: 0;
  line-height: 1;
}

.todo-list {
  font-size: 100%;
  list-style: none;
  width: 100%;
  overflow-x: hidden;
  margin-top: 2rem;
}

.todo {
  line-height: 1.5;
  position: relative;
  padding: 0 2.5rem 0 0.75rem;
  overflow: hidden;
  transform-origin: bottom;
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.todo:after {
  font-family: FontAwesome;
  content: "\f00c";
  position: absolute;
  right: 0.75rem;
  color: #2ecc71;
  opacity: 0;
  transform: scale(0);
  transition: transform, opacity, 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}
.todo + .todo {
  margin-top: 1rem;
  padding-top: 1rem;
}
.todo + .todo:before {
  content: "";
  background: #e8ebed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 2px;
}
.todo__content {
  position: relative;
  opacity: 1;
  text-transform: capitalize;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}
.todo__content:after {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% + 0.5em);
  left: -0.25em;
  height: 2px;
  top: 50%;
  border-radius: 1px;
  background: #2e2e2e;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.todo.todo--completed {
  .todo.todo--completed:after {
    opacity: 1;
    transform: scale(1);
  }
}
.todo.todo--completed .todo__content {
  opacity: 0.5;
}
.todo.todo--completed .todo__content:after {
  transform: scaleX(1);
  transform-origin: center left;
}

.add-todo {
  width: 100%;
  position: relative;
  margin: 2rem 0;
}
.add-todo__input {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background: #e8ebed;
  margin: 0;
  outline: 0;
  border: 2px solid #e8ebed;
  transition: background 0.25s ease-out;
}
.add-todo__input:focus {
  background: none;
}
.add-todo__input:focus + .add-todo__btn {
  opacity: 1;
  transform: translate(50%, -50%) scale(1) rotate(0deg);
}
.add-todo__btn {
  text-align: center;
  color: #fafafa;
  line-height: 1;
  position: absolute;
  font-size: 150%;
  right: 0;
  top: 50%;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: #2ecc71;
  opacity: 0;
  transform: translate(0, -50%) scale(0) rotate(180deg);
  transition: transform, opacity, 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}
.add-todo__btn:focus {
  opacity: 1;
  transform: translate(50%, -50%) scale(1.1) rotate(0deg);
}
.add-todo__btn:active {
  opacity: 1;
  transition: transform, opacity, 0.1s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transform: translate(50%, -50%) scale(0.95) rotate(0deg);
}

.filters .filter__link {
  margin: 0 1em;
  font-size: 150%;
}
.filters .fa-list-ul {
  color: #3498db;
}
.filters .fa-times {
  color: #e74c3c;
}
.filters .fa-check {
  color: #2ecc71;
}
.filters .filter__link i {
  transition: transform 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}
.filters .filter__link i:hover {
  transform: scale(1.1);
}
.filters .filter__link i:active {
  transform: scale(0.95);
}
